{% extends 'base.html' %}

{% block content %}

<figure id="details">
<img id="img_island" src="{{ product.image.url }}" alt="{{ product.title}}">
<figcaption>{{ product.title }}</figcaption>
<figcaption>{{ product.price }}</figcaption>
<figcaption>{{ product.content }}</figcaption>
</figure>
<section id="precedent">
<a href="{%  url 'index' %}">Page précédente</a>
{% if user.is_authenticated %}
<a id="add_basket" href="{% url 'add_to_basket' product.slug %}">Ajouter au panier</a>
{% endif %}
</section>
{% endblock %}

